build:msvc_config --cxxopt="/std:c++20" --enable_runfiles
build:msvc_config_release --config=msvc_config --define build_type=release --cxxopt="/O2" --compilation_mode=opt
build:msvc_config_debug --config=msvc_config --define build_type=debug

build:not_msvc_config --cxxopt="-std=c++20" --enable_runfiles
build:not_msvc_config_release --config=not_msvc_config --define build_type=release --cxxopt="-O3" --compilation_mode=opt
build:not_msvc_config_debug --config=not_msvc_config --define build_type=debug
