[submodule ".\\Panthera-Core\\Libs/GLM"]
	path = .\\Panthera-Core\\Libs/GLM
	url = https://github.com/Nov0cx/glm.git
[submodule ".\\Panthera-Core\\Libs\\GLFW"]
	path = .\\Panthera-Core\\Libs\\GLFW
	url = https://github.com/Nov0cx/glfw.git
